@import "tailwindcss";

@layer base {
  html {
    font-size: 62.5%;
    font-family: "Rubik";
  }

  body{
    overflow-x: hidden;
  }

  .active:active div div{
      background-color: #F6E7FF !important;
      color: #A729F5 !important;
  }
}